################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MiFlash/CopilotIndices/17.14.734.62261
/.vs/MiFlash/FileContentIndex
/.vs/MiFlash/v17
